<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Onchange - Editor.md examples</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/editormd.css" />
    </head>
    <body>
            <div id="textbox">
                <textarea style=""></textarea>
            </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="../js/editormd.js"></script>
        <script type="text/javascript">
            var testEditor;

            $(function() {
                testEditor = editormd("textbox", {
                    width  : "1000",
                    height : 100,
                    path   : '../lib/',
                    mode: "markdown",
                    editorTheme: "",
                    toolbar: false,
                    lineNumbers: false,
                    placeholder: null,
                    saveHTMLToTextarea: true,
                    onchange : function() {
                    }
                });
            });
        </script>
    </body>
</html>

