{% extends "base.html" %}
{% block title %}FlairBot Manager - Subreddits{% endblock %}
{% block breadCrumbs %}
    <li class="breadcrumb-item"><a href={{ url_for('subreddits.root') }}>Subreddits</a></li>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <body>
    <script src="{{ url_for('static', filename='js/subreddits.js') }}"></script>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped" id="subreddits">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Subreddit<sup>
                        <span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="Subreddits that has a flair bot added">
                            <i class="far fa-question-circle"></i></span></sup></th>
                    <th scope="col">Bot Name<sup>
                        <span class=" d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="Reddit account for the bot">
                            <i class="far fa-question-circle"></i></span></sup></th>
                    <th scope="col">Removal Reasons<sup>
                        <span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="Removal reason count">
                            <i class="far fa-question-circle"></i></span></sup></th>
                    <th scope="col">Webhook Type<sup>
                        <span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="What type the webhook is">
                            <i class="far fa-question-circle"></i></span></sup></th>
                    <th scope="col">Enabled<sup>
                        <span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="Indicates if the bot is running or not">
                            <i class="far fa-question-circle"></i></span></sup></th>
                    <th scope="col" data-sorter="false">Edit<sup>
                        <span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip"
                              title="Edit subreddit settings">
                            <i class="far fa-question-circle"></i></span></sup></th>
                </tr>
                </thead>
                <tbody>
                {% for subreddit in subreddits %}
                    <tr>
                        <th scope="row"><a href="/subreddits/{{ subreddit.subreddit }}">{{ subreddit.subreddit }}</a></th>
                        <td>{{ subreddit.bot_account }}</td>
                        <td><a href="/subreddits/{{ subreddit.subreddit }}#removalReasons">{% if subreddit.subreddit in reasonCounts %}{{ reasonCounts[subreddit.subreddit] }}{% else %}0{% endif %}</a></td>
                        <td>{{ subreddit.webhook_type }}</td>
                        <td>
                            {% if subreddit.enabled %}
                                <i class="fas fa-check" id="{{ subreddit.subreddit }}_icon" style="font-size: 28px;color: #00bc8c"></i>
                            {% else %}
                                <i class="fas fa-times" id="{{ subreddit.subreddit }}_icon" style="font-size: 28px; color: #E74C3C"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-primary" onclick="location.href='/subreddits/{{ subreddit.subreddit }}'">Edit</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="/subreddits/{{ subreddit.subreddit }}">Edit</a>
                                        {% if subreddit.enabled %}
                                            <a class="dropdown-item" id="{{ subreddit.subreddit }}_toggle" style="color: #E74C3C" onclick="toggleSubreddit('{{ subreddit.subreddit }}', false)">Disable</a>
                                        {% else %}
                                            <a class="dropdown-item" id="{{ subreddit.subreddit }}_toggle" style="color: #00bc8c" onclick="toggleSubreddit('{{ subreddit.subreddit }}', true)">Enable</a>
                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="showDeleteModal('{{ subreddit.subreddit }}', {{ loop.index }})" style="color: red">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" id="addSubreddit" data-toggle="modal" data-target="#newSubredditModal">Add Subreddit</button>
            <div class="modal fade" id="newSubredditModal" role="dialog" aria-labelledby="newSubredditModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newSubredditModalLabel">Add Subreddit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form id="addSubredditForm">
                                <div class="form-group">
                                    <div class="col-lg-8">
                                        <label class="control-label" for="subreddit">Subreddit</label>
                                        <div class="subName" id="subName">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend" id="subredditPrepend">
                                                    <span class="input-group-text">/r/</span>
                                                </div>
                                                <input class="form-control" autofocus id="subreddit" name="subreddit" onkeypress="clearInvalidState(this)" placeholder="Subreddit" required>
                                                <div class="invalid-feedback" id="subredditFeedback">That subreddit doesn't exist!</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bot_account">Bot Account</label>
                                            <div class="botAccount" id="botAccount">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend" id="bot_accountPrepend">
                                                        <span class="input-group-text">/u/</span>
                                                    </div>
                                                    <input class="form-control" id="bot_account" name="botAccount" onkeypress="clearInvalidState(this)" placeholder="Account the bot will run as" required>
                                                    <div class="invalid-feedback" id="bot_accountFeedback">That redditor doesn't exist!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="webhookType">Webhook Type</label>
                                            <select class="custom-select" id="webhookType" name="webhookType">
                                                <option selected>None</option>
                                                <option value="discord">Discord</option>
                                                <option value="slack">Slack</option>
                                                <option value="custom">Custom</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label hidden id="customWebhookLabel" for="customWebhookType">Custom Webhook Type</label>
                                            <input hidden type="text" value="" name="webhookType" class="form-control" id="customWebhookType">
                                        </div>
                                        <div class="form-group">
                                            <label hidden id='webhookurlLabel' for="webhookurl">Webhook URL</label>
                                            <input hidden type="text" value="" name="group" class="form-control" id="webhookurl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="headerToggle" name="headerToggle">
                                            <label class="custom-control-label" tabindex="0" for="headerToggle">Header</label>
                                            <small id="headerHelp" class="form-text text-muted">Enable header for removal comments</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="footerToggle" name="footerToggle">
                                            <label class="custom-control-label" tabindex="0" for="footerToggle">Footer</label>
                                            <small id="footerHelp" class="form-text text-muted">Enable footer for removal comments</small>
                                        </div>
                                    </div>
                                    <div hidden data-class="form-group" id="headerEntry" data-name="Header" data-nameLower="header" data-previewName="Header Preview" data-formName="headerText" data-text data-placeholder="Removal reason header..."></div>
                                    <div hidden data-class="form-group" id="footerEntry" data-name="Footer" data-nameLower="footer" data-previewName="Footer Preview" data-formName="footerText" data-text data-placeholder="Removal reason footer..."></div>
                                    <div class="modal-footer">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="enableOnAdd" name="headerToggle">
                                            <label class="custom-control-label" tabindex="0" for="enableOnAdd">Enable</label>
                                            <small id="enableOnAddHelp" class="form-text text-muted">Enable FlairBot on add</small>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" name="submit" class="btn btn-primary" id="subredditAdd">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div id="delete-modal-body" class="modal-body">Are you <strong>sure</strong> you want to delete /r/ and all of its associated removal reasons?</div>
                    <div id="delete-modal-footer" class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteConfirm">Delete this subreddit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/dist/bundle.js" type="text/javascript"></script>
    </body>
{% endblock %}