<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JES Flair - Subreddits</title>


            <meta property="og:type" content="website">
            <meta property="og:title" content="FlairBot Manager"/>
            <meta property="og:description"
                  content="FlairBot Manager"/>
            <meta property="og:url" content="https://flair.jesassn.org"/>
            <meta property="og:image" content=""/>
            <meta property="og:site_name" content="FlairBot Manager"/>

        <!-- very important script/style dumping-- MUST INCLUDE THIS ON EVERY PAGE. NO EXCEPTIONS.
        in order of imports:
        * jquery
        * popperJS
        * fontAwesome
        * bootstrapJS
        * bootstrapCSS
        * custom addons (float cards, etc.)
        * toastsJS
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"
                integrity="sha256-1XfFQxRfNvDJW3FdZ+xlo2SbodG2+rFArw6XsVzu3bc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
                integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://bot-bros-space.nyc3.cdn.digitaloceanspaces.com/webpack/addons.css">
        <script src="https://bot-bros-space.nyc3.cdn.digitaloceanspaces.com/webpack/toasts.js"></script>

</head>
<body>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
            }
        });
    });
</script>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark order-2">
    <a class="navbar-brand" href="/">JES Flair
        <!--<img src="/static/nb.png" style="height: 30px; padding-bottom: 5px">-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/subreddits">Subreddits</a>
            <a class="nav-item nav-link" href="/removal_reasons">Removal Reasons</a>
            <a class="nav-item nav-link" href="/logout">Log Out</a>
        </div>
        <div class="navbar-nav ml-auto">
            <div class="nav-item nav-link">
            </div>
            <a class="nav-item nav-link" href="/login">Log In</a>
        </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead"></p>
</div>
<div class="container">

<style>
    .tooltip-inner {
        max-width: 250px;
    }
</style>
<body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    .tooltip-inner {
        max-width: 250px;
    }
</style>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("subreddits");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<div class="jumbotron">
    <h1 class="display-4">Edit pics</h1>
</div>
<div class="container">
    <form action="https://localhost:5000/subreddits/pics" method="post">
        <div class="form-group">
            <label for="subName">Subreddit</label>
            <div class="subName" id="subName">
                <div class="input-group-prepend">
                    <div class="input-group-text">/r/</div>
                <input type="text" class="form-control" name="reddit-disabled" id="inlineFormInputGroup"
                       value="pics" required disabled>
                <input type="hidden" name="name" value="pics">
            </div>
        </div>
        <div class="form-group">
            <label for="botAccount">Bot Account</label>
            <input type="text" value="SuzyModQ" name="group" class="form-control" id="botAccount">
         </div>
        <div class="form-group" id="groups">
            <label for="webhookurl">Webhook URL</label>
            <input type="text" value="None" name="group" class="form-control" id="webhookurl">
        </div>
        <div class="form-group">
            <label for="header">Header</label>
        <div id="header">
                <textarea style="display: none"></textarea>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="../js/editormd.js"></script>
        <script type="text/javascript">
            var testEditor;
            $(function() {
                testEditor = editormd("header", {
                    width  : "90%",
                    height : 100,
                    path   : '../lib/',
                    mode: "markdown",
                    editorTheme: "",
                    toolbar: false,
                    lineNumbers: false,
                    placeholder: null,
                    onchange : function() {
                    }
                });
            });
        </script>
        </div>
    </form>
        <button class="btn btn-outline-primary" name="submit_button" type="submit" value="submit">Submit Changes
        </button>
        <input type="hidden" value="user" id="deleteu">
        <div class="form-group">
            <br/>
            <button class="btn btn-outline-danger" id="delete" data-toggle="modal" data-target="#exampleModal">
                Delete User
            </button>
        </div>
        <script>
            $(document).ready(function () {
                $('#deletefr').click(function () {
                    $('#exampleModal').modal('hide');
                    $('#deletef').submit();
                    console.log('it works!');
                    $('#delete').prop('disabled', true);
                    $('#delete').html('<div class="spinner-grow spinner-grow-sm text-primary" role="status"></div> Loading...');
                    $.ajax({
                        data: {
                            user: $('#deleteu').val()
                        },
                        type: 'POST',
                        url: '/api/deleteuser'
                    })
                        .done(function (data) {
                            console.log(data);
                            $('#delete').html('User deleted.');
                            $('#delete').prop('class', 'btn btn-danger');
                        });
                    event.preventDefault();
                    return false;
                });
            });
        </script>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you <strong>sure</strong> you want to delete r/pics?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="deletefr">Delete this
                            user
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>
</div>
</body>
</html>