{% extends "base.html" %}
{% block title %}Error{% endblock %}

{% block page_header %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <body>
    <div class="jumbotron vertical-center">
        <div class="container">
            <h1 class="display-4">Error 403: Forbidden</h1>
            <hr class="my-4">
            <p>{{ message }}</p>
            <a class="btn btn-outline-primary btn-lg" href="/" role="button">Return Home</a>
        </div>
    </div>
    </body>
{% endblock %}